body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  background-image: url(https://i.imgur.com/65spwyh.jpeg);
  display: flex;
  justify-content: center;
}

h1,
h3,
th {
  color: rgba(247, 221, 71, 0.808);
}

button,
.btn2 {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 8px;
  margin-top: 2%;
  width: 100%;
}
